/node_modules
/public/hot
/public/storage
/public/fiken-invoice
/public/files
/public/*
/storage/*.key
/storage/pail
/vendor
/.idea
/.nova
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.htaccess
.env-live
.env-local
service-worker.js
node_modules

/.phpunit.cache